.container-sm {

    width: 200px;
    height: 200px;
    display: inline-block;
    background: linear-gradient(to right bottom, rgba(75, 75, 75, 0.4), rgba(26, 26, 26, 0.9));
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
    
}

img{

    width: 100px;
    margin: 20px 0px;
}

#div1, #d2, #d3, #d4 {

    margin-top: 30px;
    
}

h1 {

    color: #fff;
    font-size: 55px;
    
}

#p1 {

    color: #fff;
    font-size: 32px;
}

div p {

    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
}

.container-sm:hover {

    transition: all 0.4s ease;
    background: linear-gradient(to right bottom, #f1945a, #ff8b45);
}

span {

    color: #ff8b45;
    font-weight: 600;
}

main {

    position: relative;
    
    
}

main {

    height: 800px;
}