
/* Da color gradiente al fondo*/

body{
    height:auto;
    width:auto;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(32,32,32,1) 35%, rgba(84,84,84,1) 100%);
}

.antifloater-djg{
    clear: both;
}

/* -------------------- COMIENZO: SECCION DE FOOTER - TOCAR CON CUIDADO-------------------- */

.main-djg{
    background-color: aqua;
}

/*ESPACIADOR ENTRE CAJA MAIN Y FOOTER*/
.clear-djg { clear: both; height: 155px; }

.footer-djg{
    color:#aaa0a0;
    background: linear-gradient(180deg, rgba(70, 70, 70, 0) 0%, rgb(84, 84, 84) 15%, rgba(32,32,32,1) 100%);
}

/* -------------------- FINAL SECCION DE FOOTER -------------------- */

/* -------------------- COMIENZO: SECCION DE CATALOGO - TOCAR CON CUIDADO -------------------- */



/* PROPIEDADES TITULOS DE CAJA */
.tituloseccion-djg{
    margin-left:10px;
    margin-bottom: 0px;
}

/*CAJA QUE CONTIENE LOS BOTONES DE FILTRADO*/
#filterBox{
    margin-top: 30px;
    color: white;
    width:100%;
    height: 50px;
}

/* BOTONES DE FILTROS*/
#genreDropDown {
    background-color: rgb(255, 166, 0);
    color: black;
}

/*ESTILO DE OBJETOS DE MENU FILTRO*/
#DropDownItem{
    color: black;
    background-color: rgb(250, 200, 139);
}

/* Caja de peliculas con borde naranja*/
.movie-box{
    height: 244px;
    width: 174px;
    background-color: aqua;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 166, 0);
    float:left;
    margin: 8px 8px 8px 8px;
    color: white;     
}

/* Efecto resplandor para caja peliculas*/
.movie-box :hover{
    box-shadow: 0 0 25px orange;
}

.dropdown{
    float:left;
    margin-left: 10px;
}

.comedia{
    display:block;
    background-color: rgb(0, 255, 179);
    transition-duration: 800ms;
}

.drama{
    display:block;
    background-color: rgb(233, 82, 213);
}
.accion{
    display:block;
    background-color: orange;
}

.live{
    display:block;
}

.animacion{
    display:block;
}

/* -------------------- FINAL SECCION DE CATALOGO -------------------- */
