body {
    margin: 0; /* remove the margin of the page and then put it to our liking */
    background-color: #252423; /* Add the color of the background of teh webpage*/
}
main {
    color:aliceblue /*Change the color of the text*/
}