body{
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Importar una fuente no existente */
@font-face {
    font-family: 'Acumin Variable Concept';
    src: url(../fuentes/Acumin-Variable-Concept.ttf);
}

.navbar{
    background-color: #222222;
    height: 85px;
}

.nav-item-left img{
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.nav-link{
    color: #fff !important;
    font-size: 20px;
}

.nav-link:hover{
    color: #ff8b45 !important;
    font-size: 20px;
}

.nav-item-right img{
    width: 56px;
    height: 56px;
}

.input-search{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #ff8b45;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.input-search::placeholder{
    color: #fff;
}

#search-icon{
    height: 24px;
    width: 24px;
}

/*Fondo del boton de la lupa*/
.button-search{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

 /*Separador entre botones home*/
 .separator{
    text-align: center; 
    width:10px; 
    color:white; 
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 13px;
    font-size: 18pt;
}

/*camibio de color en iconos*/
#home-icon{
    height: 24px;
    width: 85px;
    margin-bottom: 50%;
    transform: translateY(50%);
    background-image: url(../img/home-64.png); /* imagen blanca de fondo */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    text-align: right;
}

#home-icon:hover{
    background-image: url(../img/home-64-alter.png); /* imagen naranja de fondo */
    background-size: contain;
}

#series-icon{
    height: 24px;
    width: 85px;
    margin-bottom: 50%;
    transform: translateY(50%);
    background-image: url(../img/tele-64.png); /* imagen blanca de fondo */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    text-align: right;
}

#series-icon:hover{
    background-image: url(../img/tele-64-alter.png); /* imagen naranja de fondo */
    background-size: contain;
}

#films-icon{
    height: 24px;
    width: 107px;
    margin-bottom: 50%;
    transform: translateY(50%);
    background-image: url(../img/claketa-64.png); /* imagen blanca de fondo */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    text-align: right;
}
#films-icon:hover{
    background-image: url(../img/claketa-64-alter.png); /* imagen naranja de fondo */
    background-size: contain;
}

#documentals-icon{
    height: 24px;
    width: 158px;
    margin-bottom: 50%;
    transform: translateY(50%);
    background-image: url(../img/camara-64.png); /* imagen blanca de fondo */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    text-align: right;
}

#documentals-icon:hover{
    background-image: url(../img/camara-64-alter.png); /* imagen naranja de fondo */
    background-size: contain;
}
