.inicio {
    float: left;
}

.final {
    float: right;
}
.centro {
    text-align: center;
}
.fondo {
    background-color: black;
    border-color: black;
}
.btn-1 {
    background-color: transparent;
    border: none;
    color: #d6631c;
}

.btn-2 {
    background-color: #d6631c;
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
}
.btn-3 {
    background-color: #545454;
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
}
.btn-4 {
    background-color: transparent;
    border: none;
    color: red;
}
