<!DOCTYPE html>

<!-- Site language specificaction for the browser -->
<html lang="es">

    <!-- Document HEAD -->
    <head> 

        <!-- Page tab title -->
        <title>Damfilms - Catalogo</title> <!-- INTRODUCE AQUI EL TITULO DE TU SECCION | BORRA ESTE COMENTARIO Ejemplo: " Damfilms - Home "-->
     
        <!-- Popper JS inclusion via Local File - BEFORE BOOTSTRAP SCRIPTS-->
        <script src="js/popper.min.js" type="text/Javascript"></script>
        <!--<script src="res/stock.js" type="module"></script> COMENTADO POR SI ACASO, NO BORRAR -->
        

        
        <!-- Bootstrap stylesheet CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Bootstrap JavaScript CDN-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Bootstrap icon font CDN-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <!-- Damfilms stylesheet --> 
        <!-- SI QUIERES PERSONALIZAR ALGO MAS ALLÁ DE LO QUE ESTABLECE BOOTSTRAP UTILIZA ESTA HOJA DE ESTILOS | ¡CUIDADO CON LOS CONFLICTOS CSS!-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-- OBTENER ESTILOS DE LA NAVBAR!-->
        <link rel="stylesheet" href="css/navbar.css" TYPE="text/css">

        
    </head>


    <!-- Document of the BODY -->
    <body>
        <div id="arribaX"></div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg ">

            <!-- container fluido que aloja la ROW porque las Row deben de estar en un contairer.-->
            <div class="container-fluid">
    
                <!-- row que contiene las 12 columnas en las que se subdivide la navbar-->
                <div class="row" style="width:100%;">
    
                    <!-- 8 Columnas para enlaces de navegacion de la navbar-->
                    <div class="col-11 container-left">
                         <!-- BOTON TRAS EL CUAL SE ESCONDE LOS MENUS-->
                        <button class="navbar-toggler" id="navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon navbar-dark"></span>
                        </button>
    
                        <!-- SECCION QUE SE COLAPSA LLAMDA navbarTogglerDemo01 -->
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="justify-content: start;">
    
                            <a class="navbar-brand" href="home.html"><img src="img/Logo.png"></a>
    
                            <!-- lista de objetos que se colapsan.-->
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item-left">
                                    <a class="nav-link active" aria-current="page" href="home.html">
                                        <div id="home-icon">Home</div>
                                    </a>
                                </li>
                                <li class="nav-item-left">
                                    <a class="nav-link active" href="catalog-series.html"> <!-- INTRODUCIR LOS ENLACES A LAS PAGINAS PERTINENTES -->
                                        <div id="series-icon">Series</div>
                                    </a>
                                </li>
                                <li class="nav-item-left">
                                    <a class="nav-link active" href="catalog-movies.html"> <!-- INTRODUCIR LOS ENLACES A LAS PAGINAS PERTINENTES -->
                                        <div id="films-icon">Películas</div>
                                    </a>
                                </li>
                                <li class="nav-item-left">
                                    <a class="nav-link active presente" href="catalog-documentals.html" > <!-- INTRODUCIR LOS ENLACES A LAS PAGINAS PERTINENTES -->
                                        <div id="documentals-icon-active">Documentales</div>
                                    </a>
                                </li>
                            </ul>
                            <!-- modulo de buscar-->
                            <form class="d-flex">
                                <input class="input-search me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="button-search" type="submit"><img src="img/icons/lupa-64.png"></button>
                            </form>
    
                        </div> <!-- cierra el colapso-->
    
                    </div><!-- cierra col1 (links de navegacion)-->
                    
                    <div class="col-1 container-right" >
                        <ul>
                            <li class="nav-item-right dropdown">
            
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="img/icons/user-64.png">
                                </a>
            
                                <ul class="pmg-dropdown-menu dropdown-menu dropdown-menu-end">
                                    <li><a class="pmg-dropdown-item dropdown-item" href="config_principal.html">Ajustes</a></li>                            
                                    <li><a class="pmg-dropdown-item dropdown-item" href="index.html">Cerrar Sesión</a></li>
                                </ul>
                                
                            </li>
                        </ul>            
    
                    </div> <!-- cierra col2 (buscar + perfil)-->
    
                </div> <!-- cierra el row-->
                    
            </div> <!-- Cierra contenedor del Row-->         
    
    
    
        </nav> <!-- cierra navbar-->
          

        <!-- Main document content-->
        <main>

            <div class="container-fluid" style="padding-left: 4%; padding-right: 4%;">
                
                <!-- Filter container-->
                <div id="filterBox">

                    <!-- Genero button-->
                    <div class="dropdown">

                        <!-- Button actual body and title-->
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="genreDropDown" data-bs-toggle="dropdown" aria-expanded="false">Género</button>
                        
                        <!-- Dropdown menu content-->
                        <ul class="dropdown-menu " id="DropDownItem" >
                            <li><button id="historicButton" type="button" class="dropdown-item djg-dropdown-item dd-entry">Histórico</button></li>
                            <li><button id="biographicButton" type="button" class="dropdown-item djg-dropdown-item">Biográfico</button></li>
                            <li><button id="scienceButton" type="button" class="dropdown-item djg-dropdown-item" >Naturaleza y ciencia</button></li>
                            <li><button id="denounceButton" type="button" class="dropdown-item djg-dropdown-item" >Denuncia social</button></li>
                            <li><button id="reportButton" type="button" class="dropdown-item djg-dropdown-item" >Reportaje</button></li>
                            <li><button id="showAllButton" type="button" class="dropdown-item" >Mostrar todo</button></li>
                        </ul>
                    </div>                 
                </div>

                
                <div class="container-fluid mx" id="big-box" ><!-- CAJA DE PELICULAS-->
                    
                    <!-- CAJA CONTENEDORA ULTIMAS LLEGADAS --> 
                    <div classs="wrapper">           
                        <h4 class="tituloseccion-djg" style="color:white;">Ultimas llegadas</h4> <!-- Titulo sección ultimas llegadas-->       
                        
                        <!-- Aquí se inyectan los objetos de peliculas recientes -->
                        <div id="newest-row" ></div>
                    </div>

                    <div class="antifloater-djg"></div> <!-- FLOAT CLEARING DIV -->

                    <!-- CAJA CONTENEDORA LO MAS POPULAR -->                        
                    <div classs="wrapper">   
                        <h4 class="tituloseccion-djg" style="color:white;">Lo mas popular</h4>
                        
                        <!-- Aquí se inyectan los objetos de peliculas populares-->
                        <div id="popular-row"></div>
                    </div>

                    <div class="antifloater-djg"></div> <!-- FLOAT CLEARING DIV -->

                    <!-- CAJA CONTENEDORA GENERAL -->
                    <div classs="wrapper">
                        <h4 class="tituloseccion-djg" style="color:white;">Explora!</h4>
                        <!-- Aqui se inyectan los objetos de peliculas sin filtrar ni discriminar -->
                        <div id="explore-row"></div>
                    </div>
                </div>

                <!-- Footer Hotfix-djg - If you change the footer class 'fixed-bottom' you may need to delete this one too -->
                <div style="width: 100%; height: 1px; margin-top: 75px; float:left;"></div>
            </div>

        </main>

        <!-- Footer and infoboxes section -->
        <footer class="container-fluid fixed-bottom footer-djg" >


            <!-- FOOTER COLUMNS ROW - THIS ROW CONTAINS THE FOOTER COLUMNS -->
            <div class="row mx-auto pt-4 pb-2" style="font-size: 9pt;">

                <!-- FOOTER COOKIES COLUMN -->
                <div class="col-md-2 col-lg-3  ms-md-auto align-self-end p-1 mx-auto"> 
                    <!-- INTRODUCIR TEXTO DEFINITIVO Y BORRAR LOREM IPSUM -->
                    <center><a class="footer-enlace" href="#arribaX">Volver arriba</a></center>
                </div>

                <!-- FOOTER COPYRIGHT COLUMN -->
                <div class="col-md-2 col-lg-2  ms-md-auto align-self-end p-1 mx-auto"> 
                    <!-- INTRODUCIR TEXTO DEFINITIVO Y BORRAR LOREM IPSUM -->
                    <center><a class="footer-enlace" href="eula.html#copyright">Copyright © 2023</a></center>
                </div>

                <!-- FOOTER LINKS COLUMN (FAR RIGHT) -->
                <div class="col-md-2 col-lg-2  ms-md-auto align-self-end p-1 mx-auto"> 
                    <!-- INTRODUCIR TEXTO DEFINITIVO Y BORRAR LOREM IPSUM -->
                    <center><a class="footer-enlace" href="eula.html#cookies">Cookies y seguimiento</a></center>
                </div>

                <!-- FOOTER LINKS COLUMN (FAR RIGHT) -->
                <div class="col-md-2 col-lg-2  ms-md-auto align-self-end p-1 mx-auto"> 
                    <!-- INTRODUCIR TEXTO DEFINITIVO Y BORRAR LOREM IPSUM -->
                    <center><a class="footer-enlace" href="eula.html#politica">Politica de datos</a></center>
                </div>

                <!-- FOOTER LINKS COLUMN (FAR RIGHT) -->
                <div class="col-md-3 col-lg-3  ms-md-auto align-self-end p-1 mx-auto"> 
                    <!-- INTRODUCIR TEXTO DEFINITIVO Y BORRAR LOREM IPSUM -->
                    <center><a class="footer-enlace" href="eula.html#terminos">Terminos y condiciones</a></center>
                </div>

            </div>

        </footer>

                <!-- Page specific Javascript link that needs to load after html render-->
                <script src="js/djg-script-docu.js" type="module"></script>

    </body>
</html>