<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Damfilms - Home</title>

        <!-- =============================== -->
        <!-- SECCIÓN DE RECURSOS Y ESTILOS -->
        <!-- =============================== -->

        <!-- Incluir un enlace a un archivo JavaScript específico para la página -->
        <!-- SI TIENES UN LINK A UN JAVASCRIPT PERSONAL PARA TU PÁGINA INTRODUCELO AQUÍ -->

        <!-- Incluir Popper JS desde un archivo local (antes de Bootstrap) -->
        <script th:src="@{/js/popper.min.js}"></script>
        
        <!-- Incluir Bootstrap CSS y JS desde un CDN con integridad y crossorigin -->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <!-- Incluir íconos de Bootstrap desde CDN -->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css}" rel="stylesheet">
        
        <!-- Configuración de la vista responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Incluir archivos CSS personalizados -->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- ===================== -->
        <!-- SECCIÓN SUPERIOR -->
        <!-- ===================== -->

        <div id="arribaX"></div>
        
        <!-- ===================== -->
        <!-- BARRA DE NAVEGACIÓN -->
        <!-- ===================== -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="row" style="width:100%;">
                    <!-- Columna izquierda con opciones del menú -->
                    <div class="col-11 container-left">
                        <!-- Botón para dispositivos pequeños -->
                        <button class="navbar-toggler" id="navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon navbar-dark"></span>
                        </button>
                        
                        <!-- Menú principal -->
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="justify-content: start;">
                            <a class="navbar-brand" th:href="@{/home}"><img th:src="@{/img/Logo.png}" alt="Logo"></a>
                            
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <!-- Enlace a Home -->
                                <li class="nav-item-left">
                                    <a class="nav-link active" aria-current="page" th:href="@{/home}">
                                        <div id="home-icon-active">Home</div>
                                    </a>
                                </li>
                                <!-- Enlace a Series -->
                                <li class="nav-item-left">
                                    <a class="nav-link active" th:href="@{/series}">
                                        <div id="series-icon">Series</div>
                                    </a>
                                </li>
                                <!-- Enlace a Películas -->
                                <li class="nav-item-left">
                                    <a class="nav-link active" th:href="@{/peliculas}">
                                        <div id="films-icon">Películas</div>
                                    </a>
                                </li>
                                <!-- Enlace a Documentales -->
                                <li class="nav-item-left">
                                    <a class="nav-link active" th:href="@{/documentales}">
                                        <div id="documentals-icon">Documentales</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <!-- Formulario de búsqueda -->
                            <form class="d-flex" th:action="@{/search}" method="get">
                                <input class="input-search me-2" type="search" name="query" placeholder="Buscar" aria-label="Search">
                                <button class="button-search" type="submit"><img th:src="@{/img/icons/lupa-64.png}" alt="Buscar"></button>
                            </form>
                        </div>
                    </div>
                    
                    <!-- Columna derecha con icono de usuario -->
                    <div class="col-1 container-right">
                        <ul>
                            <li class="nav-item-right dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img th:src="@{/img/icons/user-64.png}" alt="Perfil">
                                </a>
                                <ul class="pmg-dropdown-menu dropdown-menu dropdown-menu-end">
                                    <li><a class="pmg-dropdown-item dropdown-item" th:href="@{/configuracion}">Ajustes</a></li>
                                    <li><a class="pmg-dropdown-item dropdown-item" th:href="@{/inicio}">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- ===================== -->
        <!-- CONTENIDO PRINCIPAL -->
        <!-- ===================== -->
        <main>
            <div class="text-center" style="height: 94vh; width: 100%;">
                <h1 class="display-4 text-danger" style="font-size: 85px;">Acceso prohibido</h1>
                <br>
                <p class="lead" style="color: white; font-size: 25px;">No tienes permiso para acceder a esta página.</p>
                <br>
                <img th:src="@{/img/icons/acceso-denegado.png}" alts="Acceso denegado" width="250px" class="d-block mx-auto">
                <br>
                <a class="btn btn-custom" th:href="@{/home}" style="width: 250px; height: 50px; font-size: 20px;">Ir a la página principal</a>
                
            </div>
        
        </main>    

        <!-- ===================== -->
        <!-- PIE DE PÁGINA -->
        <!-- ===================== -->
        <footer class="container-fluid fixed-bottom footer-djg">
            <div class="row mx-auto pt-4 pb-2" style="font-size: 9pt;">
                <!-- Enlace para volver arriba -->
                <div class="col-md-2 col-lg-3 ms-md-auto align-self-end p-1 mx-auto">
                    <center><a class="footer-enlace" href="#arribaX">Volver arriba</a></center>
                </div>
                <!-- Otros enlaces legales -->
                <div class="col-md-2 col-lg-2 ms-md-auto align-self-end p-1 mx-auto">
                    <center><a class="footer-enlace" th:href="@{/eula#copyright}">Copyright © 2023</a></center>
                </div>
                <div class="col-md-2 col-lg-2 ms-md-auto align-self-end p-1 mx-auto">
                    <center><a class="footer-enlace" th:href="@{/eula#cookies}">Cookies y seguimiento</a></center>
                </div>
                <div class="col-md-2 col-lg-2 ms-md-auto align-self-end p-1 mx-auto">
                    <center><a class="footer-enlace" th:href="@{/eula#politica}">Política de datos</a></center>
                </div>
                <div class="col-md-3 col-lg-3 ms-md-auto align-self-end p-1 mx-auto">
                    <center><a class="footer-enlace" th:href="@{/eula#terminos}">Términos y condiciones</a></center>
                </div>
            </div>
        </footer>

        <!-- ===================== -->
        <!-- SCRIPTS ADICIONALES -->
        <!-- ===================== -->
        <script th:src="@{/js/pmg-script.js}" type="module"></script>
    </body>
</html>
